<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Chromebook support in Unity 6.-->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false">
    </uses-feature>

    <!--Oculus overlay keyboard-->
    <uses-feature
        android:name="oculus.software.overlay_keyboard"
        android:required="false">
    </uses-feature>

    <application android:appCategory="game">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
